.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box-name test
      .main-header__left-box-user masa
    .main-header__edit
      =link_to "#", class:"main-header__edit-box" do
        Edit  
  .content
    .content__message
      .content__message__name masa 2020/01/19
      .content__message__text おはよう
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

